body {
  color: white;
  background-color: rgb(32, 32, 33);
}

$white: whitesmoke;
$margin: 20px;
$border: 2px solid $white;
$radius: 8px;

.app {
  margin: 20px;
  display: flex;
  .cities {
    width: 30%;
    .city {
      &:first-child {
        border-radius: $radius $radius 0 0;
      }

      &:last-child {
        border-radius: 0 0 $radius $radius;
      }

      &:hover {
        background: rgba($color: $white, $alpha: 0.1);
      }

      display: block;
      padding: 12px;
      text-decoration: none;
      color: $white;
      outline: $border;
      outline-offset: -1px;
    }
  }
  .active-city {
    position: fixed;
    right: 20px;
    top: 20px;
    width: calc(70% - 44px);
    padding: 10px 15px;
    border: $border;
    border-radius: $radius;
    height: calc(100vh - 40px);
    h3 {
      margin-top: 0;
    }
  }
}

.list-group-item {
  background-color: transparent;
  cursor: pointer;
}
